<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Uddevalla Crew">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
   <link rel="stylesheet" href="css/main.css">
   <title>PP by Uddevalla Crew</title>
</head>
<body>
   <header>
      <h1>Prague Parking</h1>
   </header>
   <main>
      <nav>
         <form method="POST">
            <input type="submit" name="Park" value="Park"></input>
            <input type="submit" name="Collect" value="Collect"></input>
            <input type="submit" name="Move" value="Move"></input>
            <input type="submit" name="Find" value="Find"></input>
            <input type="submit" name="Print" value="Print"></input>
            <input type="submit" name="Logout" value="Logout"></input>
         </form>
      </nav>